:root {
    --color-white: #ffffff;
    --color-grey: #333333;
}


*, *::before, *::after { margin: 0; padding: 0; box-sizing: inherit;}

body {
    background-color: aqua;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p, li {
    font-size: clamp(17px, 4vw, 21px);
}

h1 {
    font-size: clamp(61px, 4vw, 78px);
    font-weight: 800;
    text-align: center;
    padding: 15px;
}

h2 {
    font-weight: 800;
}

.quiz-card {
    background-color: white;
    border-radius: 13 px;
    padding: 40px;
    opacity: 0.91;
    border: 5px solid navajowhite;
}

.quiz-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quiz-card ul li {
    padding: 10px;

}

.quiz-card ul li:hover {
    background-color: lightpink;
}

footer {
    text-align: center;

}